<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="a simple application to google's word2vec">

    <title>Play with machine learning</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">



  
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <!-- <link rel="stylesheet" href="css/layouts/marketing.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/marketing.css') }}">
        <!-- <link href="static/css/marketing.css" rel="stylesheet"> -->

    <!--<![endif]-->
  


    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
    
      <!-- <script src="static/js/script.js"></script> -->

    

</head>

<body>

<div class="header">
<a href="https://github.com/Pegasus99/word2vec_simple_app.git"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<div class="home-menu ">
        <a class="pure-menu-heading" href="">Play with machine learning</a>

    </div>
</div>

  <div class="content pure-g">

        <h2 class="content-head is-center">Just type four words and let the computer find the odd one</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form name="wordsform"  id="wordsform" class="pure-form pure-form-stacked" role="form">
                <fieldset>
                        <label for="first">first</label>
                        <input name="first" id="first" type="text" placeholder="man">


                        <label for="second">second</label>
                        <input  name="second" id="second" type="text" placeholder="woman">


                        <label for="third">third</label>
                        <input name="third" id="third" type="text" placeholder="girl">

                        <label for="fourth">fourth</label>
                        <input id="fourth"  name="fourth" type="text" placeholder="car">


                        <button id="mybutton"  type="button" class="pure-button">Ibracadbra</button>
                </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Result</h4>
                <p id ="result" >
                    car
                </p>

            </div>
        </div>

    </div>

<div class="footer l-box is-center">
        I hope you guys enjoyed :D >>>  <a href="https://github.com/Pegasus99"> Mahmoud Mohsen &copy; 2015 </a> 
    </div>
<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>
-->    

</body>
</html>
